<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Icon -->
    <!-- Favicon-->

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet" />
    <title>
        <%= event.name %>
    </title>
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <!-- Google font -->
    <style>
        body {
            background-image: url("https://images.pexels.com/photos/5534634/pexels-photo-5534634.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
            font-family: "Permanent Marker", cursive;
        }
    </style>
</head>

<body>
    <% if(message.length> 0) {%>
        <div class="container fixed-top">
            <% if(status==200) {%>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <%} else {%>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <%}%>
                                <%= message%>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                        </div>
                </div>
                <%}%>

                    <h1 style="text-align: center;">Event Details</h1>
                    <div class="container">
                        <div class="row">
                            <div class="col mt-5 text-center">
                                <div class="mt-4 h4">
                                    <img src="/image/<%=event.image%>" alt="" width="400px" height="300px">
                                </div>
                            </div>

                            <div class="col mt-5 text-center">

                                <div class="mt-4 h4">
                                    <span class="font-weight-bold">Event Name : </span>
                                    <%=event.name%>
                                </div>

                                <div class="mt-4 h4">
                                    <span class="font-weight-bold">Event Date : </span>
                                    <%=event.date.getDate()%>/<%=event.date.getMonth()%>/<%=event.date.getFullYear()%>
                                </div>

                                <div class="mt-4 h4">
                                    <span class="font-weight-bold">Event Time : </span>
                                    <%=event.date.getHours()%>:<%=event.date.getMinutes()%>:<%=event.date.getSeconds()%>
                                                (IST)
                                </div>

                                <div class="mt-4 h4">
                                    <span class="font-weight-bold">Event Description : </span>
                                    <%=event.description%>
                                </div>

                                <div class="mt-4 h4">
                                    <span class="font-weight-bold">Event Meetlink : </span>
                                    <a target="_blank" href="<%=event.meetlink%>">
                                        <%=event.meetlink%>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <% if(ispresident) { %>
                            <div class="row">
                                <a href="<%=event._id%>/edit" class="mt-5 offset-md-5 col-md-2 btn btn-primary btn-lg">
                                    Edit Event
                                </a>
                                <form action="<%=event._id%>/delete" method="POST" class="mt-5 offset-md-5 col-md-2 ">
                                    <label for="submit" class="btn btn-danger btn-lg">
                                        Delete Event
                                    </label>
                                    <input type="submit" name="submit" id="submit" style="display: none">
                                </form>
                            </div>
                            <% } %>
                    </div>

                    <!-- Bootstrap core JS-->
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                    <script
                        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
                    <!-- Third party plugin JS-->
                    <script
                        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>



                    <script src="/js/scripts.js"></script>
                    <script src="/js/main.js"></script>
                    <script src="/js/bootstrap-notify.min.js"></script>
                    <script src="/js/notify.js"></script>
</body>

</html>