<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Icon -->
	<!-- Favicon-->

	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>

	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet" />
	<title>Profile</title>
	<div class="container-fluid text-center mt-3">
		<h1>
			<%=student.name%>
		</h1>
	</div>
	<link rel="stylesheet" type="text/css"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

	<!-- Google font -->
	<style>
		body {
			background-image: url("https://images.pexels.com/photos/5534634/pexels-photo-5534634.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
			font-family: "Permanent Marker", cursive;
		}
	</style>

</head>

<body>
	<% if(message.length> 0) {%>
		<div class="container fixed-top">
			<% if(status==200) {%>
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<%} else {%>
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							<%}%>
								<%= message%>
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
						</div>
				</div>
		</div>
		<%}%>
			<div class="col mt-3 text-center">
				<div class="container h5">
					<div class="container font-weight-bold d-4">
						<%=student.bio%>
					</div>
					<div class="text-center font-weight-light">- <%=student.name%>
					</div>
				</div>

				<div class="mt-4 h4">
					<span class="font-weight-bold">Email Address:</span>
					<a href="mailto:<%=student.email%>">
						<%=student.email%>
					</a>
				</div>

				<div class="mt-4 h4">
					<span class="font-weight-bold">LinkedIn:</span>
					<a href="https://www.linkedin.com/in/<%=student.linkedin%>">
						<%=student.linkedin%>
					</a>
				</div>

				<div class="mt-4 h4">
					<span class="font-weight-bold mr-2">Branch:</span>
					<%=student.branch%>
				</div>

				<div class="mt-4 h4">
					<span class="font-weight-bold mr-2">Roll No.:</span>
					<%=student.rollNo%>
				</div>

				<div class="mt-4 h4">
					<span class="font-weight-bold mr-2">Contact No.:</span>
					<%=student.phoneno%>
				</div>

				<div class="mt-4 h4">
					<span class="font-weight-bold mr-2">Batch:</span>
					<%=student.batch%>
				</div>

				<% if(isCurrStudent) {%>

					<a href="edit" class="mt-5 btn btn-primary btn-lg">
						<i class="fas fa-edit"></i>
						Edit Profile
					</a>

					<a href="/logout" class="mt-5 btn btn-danger btn-lg">
						<i class="fas fa-sign-out-alt"></i>
						Logout
					</a>
					<% } %>
			</div>

			
			<!-- Bootstrap core JS-->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
			<!-- Third party plugin JS-->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>



			<script src="/js/scripts.js"></script>
			<script src="/js/main.js"></script>
			<script src="/js/bootstrap-notify.min.js"></script>
			<script src="/js/notify.js"></script>
</body>

</html>